.btn {
    border-radius: 2px;
    &.btn-primary {
        background-color: $primary-200;
        color: $primary-900;
        border: 0;
        border-color: transparent;
        &:hover {
            color: $primary-200;
            background-color: $primary-900;
            outline: 1px solid $primary-200;
        }
        &:focus {
          border-color: transparent;
          box-shadow: none;
          outline: 2px solid $primary-400;
          outline-offset: 2px;
        }
    }
    &.btn-secondary {
        color: $orange;
        background-color: transparent;
        border: 1px solid $primary-400;
    }
}
