html,
button,
input,
select,
textarea {
  font-family: $font-family;
}
strong,
a {
  color: $primary-200-hex;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted $orange;
  &:focus {
    color: $primary-100;
    background-color: $primary-700;
    outline: 1px solid $primary-600;
    outline-offset: 4px;
    border-bottom: 0;
  }
  &:hover {
    background: $primary-100;
    color: $primary-900;
  }
  &.no-border {
    border: none !important;
  }
}

main {
  margin-top: 80px;
  padding-bottom: 80px;
}

body {
  background: $body-bg;
}

code,
pre {
  background-color: $neutral-100;
  color: $highlight-green;
  padding: 0.25rem;
  &.highlighter-rouge {
    color: $highlight-pink;
  }
}

pre {
  padding: 0.5rem;
}

.badge-dark {
  background-color: $primary-200;
  color: $primary-900;
  &:hover {
    background-color: $primary-200;
    color: $white;
    text-decoration: underline;
  }
}

@counter-style pointer {
  system: cyclic;
  symbols: "\1F449";
  suffix: " ";
}

.btn.badge-light {
  background-color: $primary-900;
  color: $primary-200;
  &:hover {
    background-color: $primary-200;
    color: $white;
    text-decoration: underline;
  }
  &:focus {
    box-shadow: none;
    outline: 2px solid $primary-900;
    outline-offset: 2px;
  }
}

ul.badge-list {
  list-style: none;
  li {
    margin-bottom: 0.75rem;
    .btn.badge {
      font-size: 1rem;
    }
  }
  li.active {
    list-style-type: pointer;
  }
}
