html,
button,
input,
select,
textarea {
  font-family: $font-family;
}
strong,
a {
  color: $primary-200-hex;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted $orange;
  &:focus {
    color: $primary-100;
    background-color: $primary-700;
    outline: 1px solid $primary-600;
    outline-offset: 4px;
    border-bottom: 0;
  }
  &:hover {
    background: $primary-100;
    color: $primary-900;
  }
  &.no-border {
    border: none !important;
  }
}


main {
  margin-top: 80px;
  padding-bottom: 80px;
}

body {
  background: $body-bg;
}

code,
pre {
  background-color: $gray-100-hsla;
  color: $highlight-green;
  padding: 0.25rem;
  &.highlighter-rouge {
    color: $highlight-pink;
  }
}

pre {
  padding: 0.5rem;
}

.page-navigation {
  a {
    white-space: nowrap;
    overflow: hidden;
    max-width: 70%;
    width: auto;
    text-overflow: ellipsis;
    display: inline-block;
  }
}
