// colors
$white: #FFF;
$black: #3c3c3c; 
$orange: #de7045;

//fonts
$font-family: "Helvetica", "Verdana", sans-serif;
$font-color: $black;


// breakpoints
$break-lg: 1200px;
$break-md: 992px;
$break-sm: 768px;
$break-xs: 480px;
