<section id="experience" x-show="activeSection === 'experience' || activeSection === 'all'">
  <h2>Work Experience</h2>
  {% for experience in site.data.experience %}
  <article class="experience">
    <h3>
      <strong>{{ experience.title }}</strong> &middot; <a href="{{ experience.url }}" target="_blank">{{ experience.company }}</a>
      <em>{{ experience.locationIcon }} {{ experience.location }} &middot; {{ experience.startDate }} &mdash; {{ experience.endDate }}</em>
    </h3>
    {% if experience.previousTitles %}
    <h4>Previous Titles Held:</h4>
      <ul>
        {% for prevTitle in experience.previousTitles %}
        <li>{{ prevTitle }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <small>{{ experience.notes }}</small>
    <hr>
    <h4>Job Description & Responsibilities</h4>
    <ul>
      {% for description in experience.description %}
      <li>{{ description }}</li>
      {% endfor %}
    </ul>
  </article>
  {% endfor %}
</section>