{% assign projectsByYear =
    site.projects | group_by_exp: "project", "project.date | date: '%Y'" | reverse %}
<div
  class="widget date-list" 
  x-data="{ currentYear: null }"
  x-init="() => {
      let v = new Date();
      currentYear = v.getFullYear();
    }
  ">
  <div class="col-12">
    <div class="form-group" x-model="currentYear">
      <h2>Filter projects by Year:</h2>
        <div>
          {% for year in projectsByYear %}
            <button type="button" class="btn badge badge-light" :class="currentYear == {{year.name}} ? 'badge-dark' : ''" @click="currentYear = {{ year.name }}">
              {{ year.name }}
            </button>
          {% endfor %}
        </div>
    </div>
  </div>
{% for year in projectsByYear %}
  <div class="col" x-show="currentYear == {{ year.name }}">
    <h4>Projects in {{ year.name }}</h4>
      <ul>
        {% for project in year.items %}
          <li>
              <i class="fas fa-caret-right"></i>
              {% if project.active %}
                {% if project.showdetails %}
                  <a href="{{ project.slug }}">Read About {{ project.title }}</a>
                {% else %}
                  <a href="{{ project.site }}" target="_blank">Visit {{ project.title }}</a>
                {% endif %}
              {% else %}
                {{ project.title }}
              {% endif %}
              <p><small>{{ project.description }}</small></p>
          </li>
        {% endfor %}
      </ul>
  </div>
{% endfor %}
</div>