body.page-post {
    main {
        article {
            padding: 0 20px 0 0;
            h2,
            h3 {
                font-family: $font-family-base;
                font-weight: 800;
                margin: 1.5rem 0;
            }
            h2 {
                color: $neutral-300;
                font-size: 1.75rem;
                font-weight: 300;
                &::after {
                    content: "";
                    width: 25px;
                    height: 3px;
                    margin: 5px 0 10px 0;
                    background-color: $primary-700;
                    display: block;
                }
            }
            h3 {
                color: $neutral-300;
                font-size: 1.5rem;
                font-weight: 100;
            }
            ul {
                padding: 1.25rem 0 2.5rem 1rem;
            }
            li {
                font-size: 1rem;
                font-weight: 300;
                padding-bottom: 1rem;
            }
            p,
            li {
                font-size: 1.125rem;
                font-weight: 300;
                line-height: 1.5;
            }
        }
        figure {
            @extend %shadow;
            border-radius: .5rem;
        }
        figcaption {
            border-top: 3px solid $primary-700;
            font-weight: 100;
            font-style: italic;
            font-size: .875rem;
            background: $neutral-100;
            color: $highlight-green;
            padding: .5rem;
            a {
                @extend %highlight-link;
            }
        }
    }
}
