.author-meta {
    background: $light-gray;
    border-bottom: 3px solid $mid-gray;
    img {
        width: 100%;
        max-width: 100px;
        margin-right: 15px;
    }
    aside {
        font-size: 12px;
        flex: 0 1 auto;
        strong {
            display: block;
        }
    }
}