.hdr {
	height: 109px;
	position: relative;
	a {
		display: block;
		position: fixed;
		top: 0;
		z-index: 100;
		border-bottom: none;
		transition: opacity .5s ease-in-out;
		&.scrolled {
			opacity: .25;
		}
		@include media-breakpoint-up(md) {
			position: static;
			&.scrolled {
				opacity: 1;
			}
		}
	}
}