.pagination {
    margin-top: 2rem;
    @extend %orange-border;
    .sidebar & {
        @extend %shadow;
    }
    padding: .75rem 1rem;
    strong {
        color: $gray-100-hsla;
        font-weight: 400;
    }
    a {
        font-weight: 100;
    }
    .page-item {
        color: $gray-100-hsla;
        font-weight: 400;
        &.disabled {
            a {
                color: $mid-gray;
                text-decoration: none;
                cursor: none;
                border: none;
                &:hover {
                    color: $mid-gray;
                    text-decoration: none;
                }
            }
        }
    }
}