.jumbotron {
	background-color: $orange;
	.logo {
		display: none;
	}
	@include media-breakpoint-up(md) {
		background: {
			image: url('/images/fremont.jpg');
			size: cover;
			repeat: no-repeat;
			position: center center;
		}
	}
	@include media-breakpoint-up(sm) {
		margin-top: 0;
		padding-top: 0;
	}	
	.container {
		color: $black;
		h1 {
			@include rosewood($white);
			font-weight: 100;
			text-shadow: 5px 5px 0 $orange;
			@include media-breakpoint-up(sm) {
				padding-top: 48px;
				background-position: center top;
				background-size: contain;	
			}
		}
	}
	.panel {
		background-color: rgba($white,.7);
	}
}
