
.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  max-width: 1440px;
  margin: 0 auto;
}

.tile img {
    @include shadow-inset;
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
    &:focus {
        outline: 2px solid $primary-500;
    }
}

.tile:nth-child(1) {
    grid-column: span 4;
    grid-row: span 2;
}

.tile:nth-child(2),
.tile:nth-child(3){
    grid-column: span 2;
}

.tile:nth-child(4),
.tile:nth-child(5) {
    grid-column: span 3;
}
@media screen and (max-width: 650px){
  .gallery {
      display: block;
  }
  .tile {
      margin-bottom: 1rem;
  }
}

.gallery-modal {
    position: fixed;
    width: 100vw;
    height: 100vw;
    background: rgba(0, 0, 0, 0.85);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    .inner-modal {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-top: 10vh;
    }
    button {
        border: none;
        background-color: transparent;
        color: $primary-800;
        font-weight: 700;
        display: inline-block;
        margin-bottom: 10px;
        &:hover {
            text-decoration: underline;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
        margin: 0 auto;
        border-radius: 1rem;
    }
}
