<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
	{% include site-header-bp.html %}
  <main>
    <div class="container">
      <div class="row">
        <h1 class="mb-4">
        {% if page.type contains 'year' %}
        Archive of posts from {{ page.date | date: "%Y" }}
        {% elsif page.type contains 'month' %}
        Archive of posts from {{ page.date | date: "%B %Y" }}
        {% elsif page.type contains 'day' %}
        Archive of posts from {{ page.date | date: "%B %-d, %Y" }}
        {% else %}
        <h1>Archive of posts with {{ page.type }} '{{ page.title }}'</h1>
        {% endif %}
        </h1>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            {% for post in page.posts %}
              <div class="col-md-6 mb-4">
                {% include post-card.html %}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-4 sidebar">
          {% if page.type contains 'year' %}
            {% include widget-posts-by-year.html %}
          {% else %}
            {% include widget-tag-cloud.html %}
          {% endif %}
          {% include back-to-all-posts.html %}
        </div>
      </div>
    </div>
  </main>
	{% include footer.html %}
</body>
</html>