{% assign client = site.data.clients | where: "name", page.client | first %}
{% assign accentColor = client.accentcolor | default: "#FFFFFF" %}
{% assign backgroundColor = client.bgcolor | default: "#FFFFFF" %}
{% assign logoName = project.logo | default: client.name | downcase | replace: " ", "-" %}
{% assign pattern = client.name | downcase | replace: " ", "-" %}
{% if client.format %}
  {% assign logoFullName = logoName | append: client.format %}
{% else %}
  {% assign logoFullName = logoName | append: ".svg" %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<style>
  :root {
    --accent: {{accentColor}};
  }
</style>
<body x-data="modal" @keydown.escape="showModal = false">
    {% include site-header-bp.html %}
<main class="project project-{{page.slug}}">
  <div class="project-pattern" style="background-image: url('/images/portfolio/{{pattern}}/pattern.png')">&nbsp;</div>
  <div class="container">
    <div class="row">
        <div class="col-md-5">
            <h1 class="heading-2">{{client.name}}: {{page.title}}</h1>
        </div>
        <div class="col-md-6 offset-md-1">
          <div class="client-logo">
            <div class="img-wrap" style="background-color: {{ backgroundColor }};">
              <img src="/images/logos/{{ logoFullName }}" alt="">
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-md-5">
          {{ content }}
        </div>
        {% if page.showdetails == true %}
        <div class="col-md-6 offset-md-1">
          <div class="sidebar-sticky">
            <div class="project-details">
              <h3 class="heading-3">Project Details</h3>
              <ul>
                {% if page.techstack != null %}
                <li>
                    Tech Stack:
                    <ul>
                      {% for stack in page.techstack %}
                      <li>{{ stack }}</li>
                      {% endfor %}
                    </ul>
                </li>
                {% endif %}
                <li>My Role:
                  {% if page.roles != null %}
                  <ul>
                    {% for role in page.roles %}
                    <li>{{ role }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </li>
              </ul>
            </div>
            {% if page.gallery %}
            <hr/>
              {% include widget-gallery.html %}
            {% endif %}
            {% if page.link != null %}
            <hr/>
            <a href="{{ page.link }}" target="_blank">
              Visit Project
              <img src="/images/arrow-up-right.svg" alt="" width="15"/>
            </a>
            {% endif %}
          </div>
          {% endif %}
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include back-to-all-projects.html %}
      </div>
    </div>
  </div>
</main>
{% include footer.html %}
<div class="gallery-modal" x-show="showModal">
  <div class="inner-modal">
    <button @click="showModal = false">Close Modal</button>
    <img src="" x-bind:src="activeImg" alt=""/>
  </div>
</div>
<script>
  window.modal = function () {
    return {
      showModal: false,
      activeImg: '',
      handleClick(e) {
        this.showModal = true;
        this.activeImg = e.target.src;
      }
    }
  };
</script>
</body>
</html>
